// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.People {
  // Place scoped styles here
}
.hello{
  color: red
}
#e{
  border: 1px solid green;
  box-shadow: 1px 1px 3px green;
  border-radius: 8px;
  width:700px;
  height:600px;
  background:black
}
#f{
  border: 1px solid black;
  padding:20px;
  margin:10px;
  background:white;
  align:center;
  height:500px;
  text-color:white
}
#nav-menus{
    display:inline-block;
width:400px;
}
.nav-items{
width:200px;
height:90px;
font-size:30px;
font-family:'Limelight';
border-style:solid;
border-radius:10px;
padding:10px;
background-color:#33CC33;
font-color:red;
position:relative;
list-style:none;
}
.nav{
display:inline-block;
}
.submenu{
width:600px;
margin-left:10px;
display:inline-block;
vertical-align:top;
float:right;
}
.submenu-items{
font-size:20px;
border-style:solid;
padding:10px;
background-color:violet;
border-radius:5px;
moz-border-radius:5px;

}
#submenus{
display:inline-block;
vertical-align:top;
}
#content{
    margin-top:10px;
    padding-top:20px;
    font-family:'Cabin Sketch';
    border-radius:8px;
    border-style:solid;
    width:500px;
}
#listing{
    font-family:'Cabin Sketch';
font-size:50px;
float:right;
border:solid;
border-radius:10px;
padding:30px;
}
.menu-image{
    background-image:url('../assets/arrows.png');
    background-repeat:no-repeat;
    background-position:-333px -913px;
    width:100px;
    height:100px;
    position:absolute;
}
#cls{
    background-image:url('../assets/emg.jpg');
    background-repeat:no-repeat;
    width:100px;
    height:100px;
    background-position:0px 0px;
}
#main-display{
    width:700px;
display:inline;
float:right;
}
#info{
    font-family: 'La Belle Aurore';
    font-size:50px;
}